@import url("https://fonts.googleapis.com/css?family=Oswald");
/* Variables */
/* Mixins */
/* Styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto; }

body {
  background: #212124;
  font-family: "Oswald", sans-serif;
  font-size: 2vw;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr; }

.large-circle-area {
  grid-column: 2 / span 5;
  grid-row: 2 / span 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 80vw;
  height: 80vh; }

li {
  list-style: none; }

.circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative; }

.little-circle {
  width: 40%;
  height: 40%;
  border-radius: 100%;
  background: #212124;
  opacity: 0.8;
  position: absolute;
  top: 30%;
  left: 30%; }

.circle1 {
  left: 10%;
  grid-column: 1;
  grid-row: 1;
  background: -webkit-gradient(linear, right top, left top, from(rgba(69, 51, 49, 0.1)), to(#fb7b34));
  background: -webkit-linear-gradient(right, rgba(69, 51, 49, 0.1), #fb7b34);
  background: -o-linear-gradient(right, rgba(69, 51, 49, 0.1), #fb7b34);
  background: linear-gradient(right, rgba(69, 51, 49, 0.1), #fb7b34);
  -webkit-box-shadow: 4px -40px 60px 5px rgba(53, 52, 50, 0.75) inset;
  box-shadow: 4px -40px 60px 5px rgba(53, 52, 50, 0.75) inset;
  -webkit-animation: spin 10s linear infinite left;
  animation: spin 10s linear infinite left; }

.circle2 {
  top: -3%;
  left: 10%;
  grid-column: 1;
  grid-row: 1 / 3;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(250, 204, 67, 0.9)), to(rgba(252, 181, 115, 0.9)));
  background: -webkit-linear-gradient(bottom, rgba(250, 204, 67, 0.9), rgba(252, 181, 115, 0.9));
  background: -o-linear-gradient(bottom, rgba(250, 204, 67, 0.9), rgba(252, 181, 115, 0.9));
  background: linear-gradient(bottom, rgba(250, 204, 67, 0.9), rgba(252, 181, 115, 0.9));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(53, 52, 50, 0.75) inset;
  box-shadow: 4px -40px 60px 5px rgba(53, 52, 50, 0.75) inset;
  z-index: 1;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite; }

.circle3 {
  top: 3%;
  left: 10%;
  grid-column: 1;
  grid-row: 1 / 4;
  background: -webkit-gradient(linear, left top, right top, from(rgba(61, 173, 99, 0.8)), to(rgba(252, 181, 115, 0.9)));
  background: -webkit-linear-gradient(left, rgba(61, 173, 99, 0.8), rgba(252, 181, 115, 0.9));
  background: -o-linear-gradient(left, rgba(61, 173, 99, 0.8), rgba(252, 181, 115, 0.9));
  background: linear-gradient(left, rgba(61, 173, 99, 0.8), rgba(252, 181, 115, 0.9));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite; }

.circle4 {
  grid-column: 2;
  grid-row: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(117, 198, 254, 0.9)), to(rgba(240, 194, 255, 0.6)));
  background: -webkit-linear-gradient(left, rgba(117, 198, 254, 0.9), rgba(240, 194, 255, 0.6));
  background: -o-linear-gradient(left, rgba(117, 198, 254, 0.9), rgba(240, 194, 255, 0.6));
  background: linear-gradient(left, rgba(117, 198, 254, 0.9), rgba(240, 194, 255, 0.6));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  z-index: 1;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite; }

.circle5 {
  grid-column: 2;
  grid-row: 1 / 3;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(56, 146, 74, 0.8)), to(rgba(49, 65, 54, 0.8)));
  background: -webkit-linear-gradient(bottom, rgba(56, 146, 74, 0.8), rgba(49, 65, 54, 0.8));
  background: -o-linear-gradient(bottom, rgba(56, 146, 74, 0.8), rgba(49, 65, 54, 0.8));
  background: linear-gradient(bottom, rgba(56, 146, 74, 0.8), rgba(49, 65, 54, 0.8));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle6 {
  top: 5%;
  grid-column: 2;
  grid-row: 1 / 4;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(56, 146, 74, 0.4)), to(rgba(49, 65, 54, 0.2)));
  background: -webkit-linear-gradient(bottom, rgba(56, 146, 74, 0.4), rgba(49, 65, 54, 0.2));
  background: -o-linear-gradient(bottom, rgba(56, 146, 74, 0.4), rgba(49, 65, 54, 0.2));
  background: linear-gradient(bottom, rgba(56, 146, 74, 0.4), rgba(49, 65, 54, 0.2));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle7 {
  top: 5%;
  left: 2%;
  grid-column: 2;
  grid-row: 1 / 4;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 212, 99, 0.8)), to(rgba(252, 185, 229, 0.6)));
  background: -webkit-linear-gradient(bottom, rgba(252, 212, 99, 0.8), rgba(252, 185, 229, 0.6));
  background: -o-linear-gradient(bottom, rgba(252, 212, 99, 0.8), rgba(252, 185, 229, 0.6));
  background: linear-gradient(bottom, rgba(252, 212, 99, 0.8), rgba(252, 185, 229, 0.6));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle8 {
  top: -6%;
  grid-column: 2;
  grid-row: 2 / 5;
  background: -webkit-gradient(linear, left top, right top, from(rgba(55, 55, 239, 0.9)), to(rgba(83, 109, 144, 0.3)));
  background: -webkit-linear-gradient(left, rgba(55, 55, 239, 0.9), rgba(83, 109, 144, 0.3));
  background: -o-linear-gradient(left, rgba(55, 55, 239, 0.9), rgba(83, 109, 144, 0.3));
  background: linear-gradient(left, rgba(55, 55, 239, 0.9), rgba(83, 109, 144, 0.3));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle9 {
  top: -6%;
  left: 2%;
  grid-column: 2;
  grid-row: 3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(141, 179, 168, 0.8)), to(rgba(83, 109, 144, 0.3)));
  background: -webkit-linear-gradient(left, rgba(141, 179, 168, 0.8), rgba(83, 109, 144, 0.3));
  background: -o-linear-gradient(left, rgba(141, 179, 168, 0.8), rgba(83, 109, 144, 0.3));
  background: linear-gradient(left, rgba(141, 179, 168, 0.8), rgba(83, 109, 144, 0.3));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(150, 183, 162, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle10 {
  left: -10%;
  grid-column: 3;
  grid-row: 2 / 3;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 78, 68, 0.9)), to(rgba(83, 109, 144, 0.7)));
  background: -webkit-linear-gradient(top, rgba(255, 78, 68, 0.9), rgba(83, 109, 144, 0.7));
  background: -o-linear-gradient(top, rgba(255, 78, 68, 0.9), rgba(83, 109, 144, 0.7));
  background: linear-gradient(top, rgba(255, 78, 68, 0.9), rgba(83, 109, 144, 0.7));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle11 {
  top: -8%;
  left: -10%;
  grid-column: 3;
  grid-row: 2 / 3;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 224, 77, 0.8)), to(rgba(83, 109, 144, 0.7)));
  background: -webkit-linear-gradient(top, rgba(244, 224, 77, 0.8), rgba(83, 109, 144, 0.7));
  background: -o-linear-gradient(top, rgba(244, 224, 77, 0.8), rgba(83, 109, 144, 0.7));
  background: linear-gradient(top, rgba(244, 224, 77, 0.8), rgba(83, 109, 144, 0.7));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle12 {
  top: -10%;
  left: -10%;
  grid-column: 3;
  grid-row: 3;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(172, 59, 125, 0.8)), to(rgba(83, 109, 144, 0.7)));
  background: -webkit-linear-gradient(top, rgba(172, 59, 125, 0.8), rgba(83, 109, 144, 0.7));
  background: -o-linear-gradient(top, rgba(172, 59, 125, 0.8), rgba(83, 109, 144, 0.7));
  background: linear-gradient(top, rgba(172, 59, 125, 0.8), rgba(83, 109, 144, 0.7));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle13 {
  top: -15%;
  left: -10%;
  grid-column: 3;
  grid-row: 4;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 224, 77, 0.8)), to(rgba(83, 109, 144, 0.7)));
  background: -webkit-linear-gradient(top, rgba(244, 224, 77, 0.8), rgba(83, 109, 144, 0.7));
  background: -o-linear-gradient(top, rgba(244, 224, 77, 0.8), rgba(83, 109, 144, 0.7));
  background: linear-gradient(top, rgba(244, 224, 77, 0.8), rgba(83, 109, 144, 0.7));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle14 {
  top: -15%;
  left: -10%;
  grid-column: 3;
  grid-row: 5;
  background: -webkit-gradient(linear, right top, left top, from(rgba(100, 172, 254, 0.8)), to(rgba(83, 109, 144, 0.7)));
  background: -webkit-linear-gradient(right, rgba(100, 172, 254, 0.8), rgba(83, 109, 144, 0.7));
  background: -o-linear-gradient(right, rgba(100, 172, 254, 0.8), rgba(83, 109, 144, 0.7));
  background: linear-gradient(right, rgba(100, 172, 254, 0.8), rgba(83, 109, 144, 0.7));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(255, 78, 68, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle15 {
  left: -25%;
  grid-column: 4;
  grid-row: 1;
  background: -webkit-gradient(linear, right top, left top, from(#565600), to(rgba(115, 115, 103, 0.7)));
  background: -webkit-linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  background: -o-linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  background: linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  -webkit-box-shadow: 4px -40px 60px 5px #5d5d5b inset;
  box-shadow: 4px -40px 60px 5px #5d5d5b inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle16 {
  left: -25%;
  top: -9%;
  grid-column: 4;
  grid-row: 2;
  background: -webkit-gradient(linear, right top, left top, from(#565600), to(rgba(115, 115, 103, 0.7)));
  background: -webkit-linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  background: -o-linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  background: linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  -webkit-box-shadow: 4px -40px 60px 5px #5d5d5b inset;
  box-shadow: 4px -40px 60px 5px #5d5d5b inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle17 {
  left: -25%;
  top: 13%;
  grid-column: 4;
  grid-row: 2 / 3;
  background: -webkit-gradient(linear, right top, left top, from(rgba(251, 130, 51, 0.7)), to(rgba(255, 65, 96, 0.8)));
  background: -webkit-linear-gradient(right, rgba(251, 130, 51, 0.7), rgba(255, 65, 96, 0.8));
  background: -o-linear-gradient(right, rgba(251, 130, 51, 0.7), rgba(255, 65, 96, 0.8));
  background: linear-gradient(right, rgba(251, 130, 51, 0.7), rgba(255, 65, 96, 0.8));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(251, 130, 51, 0.7) inset;
  box-shadow: 4px -40px 60px 5px rgba(251, 130, 51, 0.7) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle18 {
  left: -20%;
  grid-column: 4;
  grid-row: 3;
  background: -webkit-gradient(linear, right top, left top, from(rgba(253, 248, 254, 0.9)), to(rgba(245, 220, 241, 0.8)));
  background: -webkit-linear-gradient(right, rgba(253, 248, 254, 0.9), rgba(245, 220, 241, 0.8));
  background: -o-linear-gradient(right, rgba(253, 248, 254, 0.9), rgba(245, 220, 241, 0.8));
  background: linear-gradient(right, rgba(253, 248, 254, 0.9), rgba(245, 220, 241, 0.8));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(251, 130, 51, 0.7) inset;
  box-shadow: 4px -40px 60px 5px rgba(251, 130, 51, 0.7) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle19 {
  left: -21%;
  top: 5%;
  grid-column: 4;
  grid-row: 3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(253, 248, 254, 0.9)), to(rgba(213, 169, 244, 0.3)));
  background: -webkit-linear-gradient(left, rgba(253, 248, 254, 0.9), rgba(213, 169, 244, 0.3));
  background: -o-linear-gradient(left, rgba(253, 248, 254, 0.9), rgba(213, 169, 244, 0.3));
  background: linear-gradient(left, rgba(253, 248, 254, 0.9), rgba(213, 169, 244, 0.3));
  -webkit-box-shadow: 4px -40px 60px 5px rgba(251, 130, 51, 0.3) inset;
  box-shadow: 4px -40px 60px 5px rgba(251, 130, 51, 0.3) inset;
  -webkit-animation: spin 1s linear 5s infinite;
  animation: spin 1s linear 5s infinite; }

.circle20 {
  left: -20%;
  top: 5%;
  grid-column: 4;
  grid-row: 3;
  background: -webkit-gradient(linear, left bottom, left top, from(#939884), to(rgba(213, 169, 244, 0.3)));
  background: -webkit-linear-gradient(bottom, #939884, rgba(213, 169, 244, 0.3));
  background: -o-linear-gradient(bottom, #939884, rgba(213, 169, 244, 0.3));
  background: linear-gradient(bottom, #939884, rgba(213, 169, 244, 0.3));
  -webkit-box-shadow: 4px -40px 60px 5px #312efa inset;
  box-shadow: 4px -40px 60px 5px #312efa inset;
  -webkit-animation: spin 1s linear 10s infinite;
  animation: spin 1s linear 10s infinite; }

.circle21 {
  left: -30%;
  grid-column: 5;
  grid-row: 2;
  background: -webkit-gradient(linear, right top, left top, from(#565600), to(rgba(115, 115, 103, 0.7)));
  background: -webkit-linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  background: -o-linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  background: linear-gradient(right, #565600, rgba(115, 115, 103, 0.7));
  -webkit-box-shadow: 4px -40px 60px 5px #5d5d5b inset;
  box-shadow: 4px -40px 60px 5px #5d5d5b inset;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite; }

.circle22 {
  left: -30%;
  top: -5%;
  grid-column: 5;
  grid-row: 4;
  background: -webkit-gradient(linear, right top, left top, from(rgba(56, 208, 169, 0.8)), to(#cf8586));
  background: -webkit-linear-gradient(right, rgba(56, 208, 169, 0.8), #cf8586);
  background: -o-linear-gradient(right, rgba(56, 208, 169, 0.8), #cf8586);
  background: linear-gradient(right, rgba(56, 208, 169, 0.8), #cf8586);
  -webkit-box-shadow: 4px -40px 60px 5px #5d5d5b inset;
  box-shadow: 4px -40px 60px 5px #5d5d5b inset;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite; }

body .music {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 5;
  margin: 3%;
  padding: 0; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  50% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  50% {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }
